
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.section_buttons {
  a {
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}

.section_summary {
    justify-self: center; 
}


@media (min-width: 768px) {
  .section {
    border-bottom: 1px solid $gray;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-wrap: nowrap;

    .section_info {
      justify-content: flex-start;
    }

    .section_buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-self: center;
      text-align: right;
    }
  }
}
