.main {
    padding-top: 2.5em;
    p {
        color: $outer-space;
    }
    h2 {
        text-align: center;
    }
}

.article_column {
    padding-bottom: 2em;
}


@media (min-width: 576px) {
    .main h2 {
        text-align: left;
        padding-left: .7em;
    }
  }
