
// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E8EBE4;
$gray: #BEC1BB;

// Second Color Scheme
$aqua: rgb(1, 241, 241);
$aqua-dark: rgb(1, 197, 197);
$coral: rgb(255, 80, 109);
$coral-dark: rgb(211, 66, 90);

//Third Color Scheme
$dark-jungle: #1B1F21;
$outer-space: #444749;
$old-silver: #828485;

///////////////// 
//Tipography

//Font Family
$open-sans: 'Open Sans', sans-serif;

// Font Weight
$super-light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Sizes
$x-large: 35px;
$large: 24px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Hamburguesa 
